
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#productview {
    display: grid;
    grid-template-areas:
        "logo search"
        "categories categories"
        "productimg productinfo";
    grid-gap: 10px;
    padding: 10px;
    flex: 1;
}


#logo {
    grid-area: logo;
    max-width: 100px;
    cursor: pointer;
}


#search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar {
    width: 60%;
    padding: 5px;
}

#searchbutton {
    padding: 5px 10px;
    margin-left: 5px;
}


#categories {
    grid-area: categories;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f0f0f0;
}


#productimg {
    grid-area: productimg;
    max-width: 100%;
    align-self: center;
}

#productinfo {
    grid-area: productinfo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
}


@media (max-width: 768px) {
    #productview {
        grid-template-areas:
            "logo"
            "search"
            "categories"
            "productimg"
            "productinfo";
    }

    #searchbar {
        width: 70%;
    }
}
